spring:
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
    mode: HTML
  application:
    name: open-green
  profiles:
    active: dev
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=testdb;trustServerCertificate=true
    username: sa
    password: YourStrong!Passw0rd
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  flyway:
    enabled: false
    baseline-on-migrate: true
  session:
    store-type: redis
    redis:
      namespace: testgunsun
  redis:
    cluster:
      nodes:
        - localhost:31971
      max-redirects: 3
  jpa:
    database-platform: org.hibernate.dialect.SQLServerDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true

server:
  port: 8082
  shutdown: graceful
  servlet:
    session:
      timeout: 60
      cookie:
        name: JSESSIONID

springdoc:
  swagger-ui:
    enabled: false

logging:
  level:
    org.springframework.web.socket: DEBUG
#  curl -i http://localhost:8082/v3/api-docs/swagger-config
#  curl -i http://localhost:8082/v3/api-docs/swagger-config