spring:
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
    mode: HTML
  application:
    name: open-green
  profiles:
    active: dev
  flyway:
    enabled: true
    baseline-on-migrate: true
    url: jdbc:mysql://localhost:3306/todo
    user: root
    password: root
  session:
    store-type: redis
    redis:
      namespace: testgunsun
  redis:
    host: localhost
    port: 31971
    timeout: 60000
    lettuce:
      pool:
          max-active: 10
          max-idle: 8
          min-idle: 2
          max-wait: 3000ms
  jpa:
    properties:
      hibernate:
        show_sql=true: true
        format_sql: true

server:
  port: 8082
  shutdown: graceful
  servlet:
    session:
      timeout: 60
      cookie:
        name: JSESSIONID

springdoc:
  swagger-ui:
    enabled: false

logging:
  level:
    org.springframework.web.socket: DEBUG
#  curl -i http://localhost:8082/v3/api-docs/swagger-config
#  curl -i http://localhost:8082/v3/api-docs/swagger-config
