spring:
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
    mode: HTML
  application:
    name: open-green
  profiles:
    active: dev
  flyway:
    enabled: true
    baseline-on-migrate: true
    url: jdbc:mysql://localhost:3306/todo
    user: root
    password: root
  session:
    store-type: redis
  redis:
    host: localhost
    port: 6379
    timeout: 60000
    lettuce:
      pool:
        max-active: 10
        max-idle: 8
        min-idle: 2
        max-wait: 3000ms
  jpa:
    properties:
      hibernate:
        show_sql=true: true
        format_sql: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      acks: all
      retries: 3
    consumer:
      group-id: order-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      enable-auto-commit: true

server:
  port: 8082
  shutdown: graceful
  servlet:
    session:
      timeout: 60
      cookie:
        name: JSESSIONID

springdoc:
  swagger-ui:
    enabled: false

logging:
  level:
    org.springframework.web.socket: DEBUG
#  curl -i http://localhost:8082/v3/api-docs/swagger-config
#  curl -i http://localhost:8082/v3/api-docs/swagger-config
