/* 여전히 markdown 내 텍스트를 강조하고 싶다면 */
.markdown p {
  font-size: 14px;
}
.markdown p:has(span:contains("2025")) {
  color: #ff5722;
  font-style: italic;
}

/* Swagger UI에 사이드바 너비만큼 마진 */
#swagger-ui {
  flex: 1;
  height: 100vh;
  overflow: auto;

  /* 여기 수정 */
  transition: margin-left 0.3s ease, width 0.3s ease, padding 0.3s ease;
}
.swagger-tool-container {
  position: fixed; /* fixed로 변경 */
  top: 10px; /* 상단에서 10px 아래 */
  right: 10px; /* 우측에서 10px 왼쪽 */
  z-index: 9999; /* 다른 요소 위에 띄우기 */
}